.main {
  display: flex;
  flex-direction: column;
  justify-content: column;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hr {
  color: white;
  background-color: white;
  width: 90vw;
  margin-bottom: 60px;
  margin-right: 10px;
}

.asd {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
  justify-content: left;
  justify-items: left;
  align-items: left;
}

.yazi {
  margin-left: 25px;
  color: white;
  font-size: 16px;
  max-width: 50vw;
}

.span {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.span2 {
  margin-bottom: 30px;
  padding-bottom: 30px;
}